  {% load static %}
    <div>
      <div >
        <div id="table" class="table-editable">
          <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success" style="margin-right: 2.0rem !important;"><i
                class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
          <table id="mytable" class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
              <tr>
                <th class="text-center repprint" style="width: 11%;">Nr. of reps</th>
                <th class="text-center" style="width: 10%;">Distance</th>
                <th class="text-center" style="width: 18%;">Rest</th>
                <th class="text-center styleprint" style="width: 14%;">Style</th>
                <th class="text-center" style="width: 24%;">Comments</th>
                <th class="text-center" style="width: 11%;">Tools</th>
                <th class="text-center" title="Intensity % maxHR" style="width: 6%;">%</th>
                <th class="text-center deletehide" style="width: 7%;">Delete</th>
              </tr>
            </thead>
            <tbody>
             {% for b in rows %}
              <tr>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control rep1" value="{{b.rep1}}" style="float: left; width: 44%;">
                    <p style="float: left; margin: 2%; margin-top: 7%;">x</p>
                    <input type="text" class="form-control rep2" value="{{b.rep2}}" style="float: left; width: 44%;">
                  </div>
                </td>
                <td>
                    <div class="form-group">
                      <input type="text" class="form-control distance" value="{{b.distance}}" style="float: left; width: 80%;">
                      <p style="float: left; margin-left: 7%; margin-top: 7%;">m</p>
                    </div>
                </td>
                <td>
                  <div class="form-group" style="float: left; width: 55%;">
                    <select class="form-control resttype" >
                      <option class="None" value="None">None</option>
                      <option class="Time" value="Time">Time</option>
                      <option class="Repetition" value="Repetition">Repetiton</option>
                    </select>
                  </div>
                   <input type="text" class="form-control resttime" placeholder="min:sec" style="float: left;width: 39%; margin-left: 2%;" value="{{b.resttime}}">
                </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control style" >
                        <option value="Freestyle">Freestyle</option>
                        <option value="Backstroke">Backstroke</option>
                        <option value="Breaststroke">Breaststroke</option>
                        <option value="Butterfly">Butterfly style</option>
                        <option value="Free">Free</option>
                        <option value="Mixed">Mixed</option>
                        <option value="Training stroke">Training stroke</option>
                      </select>
                    </div>
                </td>
                  <td>
                      <textarea  class="form-control autoExpand comments" rows="1" style="min-height: 53px;">{{b.comments}}</textarea>
                </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control tools">
                        <option value="None">None</option>
                        <option value="Fins">Fins</option>
                        <option value="Kickboard">Kickboard</option>
                        <option value="Paddles">Paddles</option>
                        <option value="Pull Buoy">Pull Bouy</option>
                        <option value="Snorkel">Snorkel</option>
                      </select>
                    </div>
                </td>
                <td>
                    <input type="text"  class="form-control effort" value="{{b.effort}}" >
                </td>
                 <td class="deletehide">
                  <span class="table-remove"><button type="button"
                      class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
          <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="icon-chevron-up"></i></button>
        </div>
      </div>
    </div>
  <div class="form-group row">
      <div class="col-sm-11">
        <p>Total Distance: <b id="val" style="color: #007bff; font-weight:bold;" class="totaldistance"></b><b style="color: #007bff;"> m</b></p>
      </div>
      <div class="col-sm-1">
        <img style="width: 50%; " onclick="printPage()" class="float-right" src="{% static 'img/print.png' %}">
      </div>
  </div>


  <script src="{% static '/vendor/jquery/jquery.slim.min.js' %}"></script>


  <!--auto expand-->
  <script>
  $('textarea').each(function () {
      this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function () {
      this.style.height = 'auto';
      this.style.height = (this.scrollHeight) + 'px';
  });
  </script>

  <!--set tabindex-->
  <script>
  $(function() {
    var tabindex = 1;
    $('input,select,textarea').each(function() {
        if (this.type != "hidden") {
            var $input = $(this);
            $input.attr("tabindex", tabindex);
            tabindex++;
        }
    });
  });
  </script>

  <!--Distanz berechnen-->
  <script>
   $('#val').text('{{plan.totaldistance}}');

   $('.rep1,.rep2,.distance').on('input',function(){
     var table = document.getElementById("mytable");
     var len = table.rows.length;
     var totalSum = 0;

     for (i = 1; i < len; i++){
        var rep1 = table.rows[i].cells[0].getElementsByClassName("rep1")[0].value;
        var rep2 = table.rows[i].cells[0].getElementsByClassName("rep2")[0].value;
        var distance = table.rows[i].cells[1].getElementsByClassName("distance")[0].value;

        totalSum += parseFloat(rep1 * rep2 * distance);

        $('#val').text(totalSum);
     }

   });

  </script>

  <!--Top to Page Button-->
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
      } else {
        document.getElementById("myBtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script>

  <!--Funktionalität Tabelle-->
  <script>
    const $tableID = $('#table');
    const $BTN = $('#export-btn');
    const $EXPORT = $('#export');

    const newTr = `
   <tr class="hide">
    <td>
     <div class="form-group">
        <input type="text" class="form-control rep1" value="1" style="float: left; width: 44%;">
        <p style="float: left; margin: 2%; margin-top: 7%;">x</p>
        <input type="text" class="form-control rep2" value="1" style="float: left; width: 44%;">
      </div>
    </td>
    <td>
        <div class="form-group">
          <input type="text" class="form-control distance" value="0" style="float: left; width: 80%;">
          <p style="float: left; margin-left: 7%; margin-top: 7%;">m</p>
        </div>
    </td>
    <td>
      <div class="form-group" style="float: left; width: 55%;">
        <select class="form-control resttype" >
          <option value="None">None</option>
          <option value="Time">Time</option>
          <option value="Repetition">Repetiton</option>
        </select>
      </div>
       <input type="text" class="form-control resttime" placeholder="min:sec" style="float: left;width: 39%; margin-left: 2%;">
    </td>
      <td>
        <div class="form-group">
          <select class="form-control style">
              <option value="Freestyle">Freestyle</option>
              <option value="Backstroke">Backstroke</option>
              <option value="Breaststroke">Breaststroke</option>
              <option value="Butterfly">Butterfly style</option>
              <option value="Free">Free</option>
              <option value="Mixed">Mixed</option>
              <option value="Training stroke">Training stroke</option>
          </select>
        </div>

    </td>
      <td>
        <textarea class="form-control comments" rows="1" style="min-height: 53px;"></textarea>
    </td>
      <td>
        <div class="form-group">
          <select class="form-control tools">
              <option value="None">None</option>
              <option value="Fins">Fins</option>
              <option value="Kickboard">Kickboard</option>
              <option value="Paddles">Paddles</option>
              <option value="Pull Buoy">Pull Bouy</option>
              <option value="Snorkel">Snorkel</option>
          </select>
        </div>
    </td>
    <td>
        <input type="text" class="form-control effort" value="0" >
    </td>
     <td class="deletehide">
      <span class="table-remove"><button type="button"
          class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
    </td>
  </tr>`;

    $('.table-add').on('click', 'i', () => {

      const $clone = $tableID.find('tbody tr').last().clone(true).removeClass('hide table-line');

      if ($tableID.find('tbody tr').length === 0) {

        $('tbody').append(newTr);
      }

      $tableID.find('table').append($clone);
    });

    $tableID.on('click', '.table-remove', function () {

      $(this).parents('tr').detach();
    });

    $tableID.on('click', '.table-up', function () {

      const $row = $(this).parents('tr');

      if ($row.index() === 1) {
        return;
      }

      $row.prev().before($row.get(0));
    });

    $tableID.on('click', '.table-down', function () {

      const $row = $(this).parents('tr');
      $row.next().after($row.get(0));
    });

    // A few jQuery helpers for exporting only
    jQuery.fn.pop = [].pop;
    jQuery.fn.shift = [].shift;

    $BTN.on('click', () => {

      const $rows = $tableID.find('tr:not(:hidden)');
      const headers = [];
      const data = [];

      // Get the headers (add special header logic here)
      $($rows.shift()).find('th:not(:empty)').each(function () {

        headers.push($(this).text().toLowerCase());
      });

      // Turn all existing rows into a loopable array
      $rows.each(function () {
        const $td = $(this).find('td');
        const h = {};

        // Use the headers from earlier to name our hash keys
        headers.forEach((header, i) => {

          h[header] = $td.eq(i).text();
        });

        data.push(h);
      });

      // Output the result
      $EXPORT.text(JSON.stringify(data));
    });
  </script>