{% load static %}
    <div>
      <div >
        <div id="table" class="table-editable">
          <span class="table-add float-right mb-3 mr-2">
              <a href="{% url 'newplan' %}" class="text-success" style="margin-right: 2.0rem !important;">
                <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
              </a>
          </span>
          <table id="mytable" class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
              <tr>
                <th class="text-center" style="width:25%;">Name</th>
                <th class="text-center" style="width:10%;">Poolsize</th>
                <th class="text-center" style="width:20%;">Total Distance</th>
                <th class="text-center" style="width:20%;">Last saved at</th>
                <th class="text-center" style="width:25%;">Settings</th>
              </tr>
            </thead>
            <tbody>
            {% for b in obj %}
              <tr>
                <td>{{ b.name }}</td>
                <td>{{ b.size }}</td>
                <td>{{ b.totaldistance }} m</td>
                <td>{{ b.saved_at }}</td>
                <td>
                  <span>
                    <a href="" class="btn btn-info btn-rounded btn-sm my-0"  data-toggle="modal" data-target="#shareModal{{b.pk}}" style="margin-right:2%;" >Share</a>
                    <div class="modal fade" id="shareModal{{b.pk}}" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel{{b.pk}}"
                       aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="shareModalLabel{{b.pk}}">You want to share a plan with your athletes?</h5>
                                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">×</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                <p style="text-align: left;"> The plan will be sent via Em-mail to the choosen Training group.</p>
                                <div class="form-check" style="text-align: left;">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                  <label class="form-check-label" for="inlineRadio1">as PDF</label>
                                </div>
                                <div class="form-check" style="text-align: left;">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                  <label class="form-check-label" for="inlineRadio2">as Excel file</label>
                                </div>
                                <div class="form-check" style="text-align: left;">
                                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                  <label class="form-check-label" for="inlineRadio3">as fit file</label>
                                </div>
                                  <h6 style="text-align: left;margin-top:3%;">Please select the group you want to send the plan to. </h6>
                                  <p style="text-align: left;">TODO</p>
                              </div>
                              <div class="modal-footer">
                                  <a class="btn btn-secondary" href="{% url 'group' %}">Yes</a>
                                  <a class="btn btn-primary" href="{% url 'group' %}">No</a>
                              </div>
                          </div>
                      </div>
                    </div>
                  </span>
                  <a href="{% url 'showplan' plan_id=b.pk %}" class="btn btn-secondary btn-rounded btn-sm my-0" style="padding-left: 3%; padding-right:3%; margin-right:2%;" >View</a>
                  <a href="{% url 'alterplan' plan_id=b.pk %}" class="btn btn-success btn-rounded btn-sm my-0" style="padding-left: 3%; padding-right:3%; margin-right:2%;" >Edit</a>

                  <span>
                    <a href="" class="btn btn-danger btn-rounded btn-sm my-0"  data-toggle="modal" data-target="#deleteModal{{b.pk}}" >Delete</a>
                    <div class="modal fade" id="deleteModal{{b.pk}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{b.pk}}"
                       aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="deleteModalLabel{{b.pk}}">Are you sure you want to delete the plan?</h5>
                                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">×</span>
                                  </button>
                              </div>
                              <div class="modal-footer">
                                  <a class="btn btn-secondary" href="{% url 'deleteplan' plan_id=b.pk %}">Yes</a>
                                  <a class="btn btn-primary" href="{% url 'manageplans' %}">No</a>
                              </div>
                          </div>
                      </div>
                    </div>
                  </span>
                </td>
              </tr>
             {% endfor %}
            </tbody>
          </table>

          <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="icon-chevron-up"></i></button>
        </div>
      </div>
    </div>

  <script src="{% static '/vendor/jquery/jquery.slim.min.js' %}"></script>


  <!--Top to Page Button-->
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
      } else {
        document.getElementById("myBtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script>

