{% load static %}
    <div>
      <div >
        <div id="table" class="table-editable">
          <span class="table-add float-right mb-3 mr-2">
              <a href="{% url 'newplan' %}" class="text-success" style="margin-right: 2.0rem !important;">
                <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
              </a>
          </span>
          <table id="mytable" class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
              <tr>
                <th class="text-center" style="">Name</th>
                <th class="text-center" style="">Poolsize</th>
                <th class="text-center" style="">Name</th>
                <th class="text-center" style="">Settings</th>
              </tr>
            </thead>
            <tbody>
            {% for b in obj %}
              <tr>
                <td>{{ b.name }}</td>
                <td>{{ b.size }}</td>
                <td>{{ b.user }}</td>
                <td>
                  <i class="fas fa-eye"></i>
                  <i class="far fa-edit" style="color:green;"></i>
                  <i class="far fa-times-circle" style="color:red;"></i>

                  <br>

                  <button type="button" class="btn btn-secondary btn-rounded btn-sm my-0">View</button>
                  <button type="button" class="btn btn-success btn-rounded btn-sm my-0">Edit</button>

                  <span class="table-remove">
                      <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                  </span>
                </td>
              </tr>
             {% endfor %}
            </tbody>
          </table>

          <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="icon-chevron-up"></i></button>
        </div>
      </div>
    </div>

  <script src="{% static '/vendor/jquery/jquery.slim.min.js' %}"></script>


  <!--Top to Page Button-->
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
      } else {
        document.getElementById("myBtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script>

<!--Funktionalität Tabelle-->
  <script>
    const $tableID = $('#table');


    $('.table-add').on('click', 'i', () => {

      const $clone = $tableID.find('tbody tr').last().clone(true).removeClass('hide table-line');

      if ($tableID.find('tbody tr').length === 0) {

        $('tbody').append(newTr);
      }

      $tableID.find('table').append($clone);
    });

    $tableID.on('click', '.table-remove', function () {

      $(this).parents('tr').detach();
    });

    $tableID.on('click', '.table-up', function () {

      const $row = $(this).parents('tr');

      if ($row.index() === 1) {
        return;
      }

      $row.prev().before($row.get(0));
    });

    $tableID.on('click', '.table-down', function () {

      const $row = $(this).parents('tr');
      $row.next().after($row.get(0));
    });
  </script>