  {% load static %}
    <div>
      <div >
        <div id="table" class="table-editable">
          <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success" style="margin-right: 2.0rem !important;"><i
                class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
          <table id="mytable" class="table table-bordered table-responsive-md table-striped text-center">
            <thead>
              <tr>
                <th class="text-center" style="width: 10%">Nr. of reps</th>
                <th class="text-center" style="width: 10%;">Distance</th>
                <th class="text-center" style="width: 18%">Rest</th>
                <th class="text-center" style="">Style</th>
                <th class="text-center" style="">Comments</th>
                <th class="text-center" style="">Tools</th>
                <th class="text-center" style="width: 6%;">%</th>
                <th class="text-center" style="">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control rep1" value="1" style="float: left; width: 44%;">
                    <p style="float: left; margin: 2%;">x</p>
                    <input type="text" class="form-control rep2" style="float: left; width: 44%;">
                  </div>
                </td>
                <td>
                    <div class="form-group">
                      <input type="text" class="form-control distance">
                    </div>
                </td>
                <td>
                  <div class="form-group" style="float: left; width: 55%;">
                    <select name="select" class="form-control resttype" >
                      <option class="None" value="none">None</option>
                      <option class="Time" value="time">Time</option>
                      <option class="Repetition" value="repetition">Repetiton</option>
                    </select>
                  </div>
                   <input type="text" class="form-control resttime" placeholder="min:sec" style="float: left;width: 39%; margin-left: 2%;">
                </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control sytle" >
                        <option value="freestyle">Freestyle</option>
                        <option value="back">Backstroke</option>
                        <option value="breast">Breaststroke</option>
                        <option value="butterfly">Butterfly style</option>
                        <option value="free">Free</option>
                        <option value="mixed">Mixed</option>
                        <option value="training">Training stroke</option>
                      </select>
                    </div>
                </td>
                  <td>
                      <textarea class="form-control comments" rows="1" style="min-height: 53px;"></textarea>
                </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control tools">
                        <option value="mixed">None</option>
                        <option value="freestyle">Fins</option>
                        <option value="back">Kickboard</option>
                        <option value="breast">Paddles</option>
                        <option value="butterfly">Pull Bouy</option>
                        <option value="free">Snorkel</option>
                      </select>
                    </div>
                </td>
                <td>
                    <input type="text"  class="form-control effort">
                </td>
                 <td>
                  <span class="table-remove"><button type="button"
                      class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                </td>
              </tr>
              <!-- This is our clonable table line -->

              <tr>
                <td>
                  <div class="form-group">
                    <input type="text" class="form-control rep1" value="1" style="float: left; width: 44%;">
                    <p style="float: left; margin: 2%;">x</p>
                    <input type="text" class="form-control rep2" style="float: left; width: 44%;">
                  </div>
                </td>
                <td>
                    <div class="form-group">
                      <input type="text" class="form-control distance">
                    </div>
                </td>
                <td>
                  <div class="form-group" style="float: left; width: 55%;">
                    <select class="form-control" >
                      <option value="none">None</option>
                      <option value="time">Time</option>
                      <option value="repetition">Repetiton</option>
                    </select>
                  </div>
                   <input type="text" class="form-control" placeholder="min:sec" style="float: left;width: 39%; margin-left: 2%;">
                </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control">
                        <option value="freestyle">Freestyle</option>
                        <option value="back">Backstroke</option>
                        <option value="breast">Breaststroke</option>
                        <option value="butterfly">Butterfly style</option>
                        <option value="free">Free</option>
                        <option value="mixed">Mixed</option>
                        <option value="training">Training stroke</option>
                      </select>
                    </div>

                </td>
                  <td>
                    <textarea class="form-control" rows="1" style="min-height: 53px;" ></textarea>
                </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control">
                        <option value="mixed">None</option>
                        <option value="freestyle">Fins</option>
                        <option value="back">Kickboard</option>
                        <option value="breast">Paddles</option>
                        <option value="butterfly">Pull Bouy</option>
                        <option value="free">Snorkel</option>
                      </select>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control">
                </td>
                 <td>
                  <span class="table-remove"><button type="button"
                      class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                </td>
              </tr>
              <!-- This is our clonable table line -->
              <tr>
                <td>
                 <div class="form-group">
                    <input type="text" class="form-control rep1" value="1" style="float: left; width: 44%;">
                    <p style="float: left; margin: 2%;">x</p>
                    <input type="text" class="form-control rep2" style="float: left; width: 44%;">
                  </div>
                </td>
                <td>
                    <div class="form-group">
                      <input type="text" class="form-control distance">
                    </div>
                </td>
                <td>
                  <div class="form-group" style="float: left; width: 55%;">
                    <select class="form-control" >
                      <option value="none">None</option>
                      <option value="time">Time</option>
                      <option value="repetition">Repetiton</option>
                    </select>
                  </div>
                   <input type="text" class="form-control" placeholder="min:sec" style="float: left;width: 39%; margin-left: 2%;">
                </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control">
                        <option value="freestyle">Freestyle</option>
                        <option value="back">Backstroke</option>
                        <option value="breast">Breaststroke</option>
                        <option value="butterfly">Butterfly style</option>
                        <option value="free">Free</option>
                        <option value="mixed">Mixed</option>
                        <option value="training">Training stroke</option>
                      </select>
                    </div>

                </td>
                  <td>
                    <textarea class="form-control" rows="1" style="min-height: 53px;"></textarea>
                </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control">
                        <option value="mixed">None</option>
                        <option value="freestyle">Fins</option>
                        <option value="back">Kickboard</option>
                        <option value="breast">Paddles</option>
                        <option value="butterfly">Pull Bouy</option>
                        <option value="free">Snorkel</option>
                      </select>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control">
                </td>
                 <td>
                  <span class="table-remove"><button type="button"
                      class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                </td>
              </tr>
              <!-- This is our clonable table line -->
              <tr class="hide">
                <td>
                 <div class="form-group">
                    <input type="text" class="form-control rep1" value="1" style="float: left; width: 44%;">
                    <p style="float: left; margin: 2%;">x</p>
                    <input type="text" class="form-control rep2" style="float: left; width: 44%;">
                  </div>
                </td>
                <td>
                    <div class="form-group">
                      <input type="text" class="form-control distance">
                    </div>
                </td>
                <td>
                  <div class="form-group" style="float: left; width: 55%;">
                    <select class="form-control" >
                      <option value="none">None</option>
                      <option value="time">Time</option>
                      <option value="repetition">Repetiton</option>
                    </select>
                  </div>
                   <input type="text" class="form-control" placeholder="min:sec" style="float: left;width: 39%; margin-left: 2%;">
                </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control">
                        <option value="freestyle">Freestyle</option>
                        <option value="back">Backstroke</option>
                        <option value="breast">Breaststroke</option>
                        <option value="butterfly">Butterfly style</option>
                        <option value="free">Free</option>
                        <option value="mixed">Mixed</option>
                        <option value="training">Training stroke</option>
                      </select>
                    </div>

                </td>
                  <td>
                    <textarea class="form-control" rows="1" style="min-height: 53px;"></textarea>
                </td>
                  <td>
                    <div class="form-group">
                      <select class="form-control">
                        <option value="mixed">None</option>
                        <option value="freestyle">Fins</option>
                        <option value="back">Kickboard</option>
                        <option value="breast">Paddles</option>
                        <option value="butterfly">Pull Bouy</option>
                        <option value="free">Snorkel</option>
                      </select>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control">
                </td>
                 <td>
                  <span class="table-remove"><button type="button"
                      class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                </td>
              </tr>
            </tbody>
          </table>

          <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="icon-chevron-up"></i></button>
        </div>
      </div>
    </div>
  <p>Total Distance: <b id="rep1val" style="color: #007bff;"></b> X <b id="rep2val" style="color: #007bff;"></b> X <b id="val" style="color: #007bff;"></b></p>

  <script src="{% static '/vendor/jquery/jquery.slim.min.js' %}"></script>

  <!--Distanz berechnen-->
  <script>

    $('#val').text('0\xa0m');
    $('.form-group').on('input','.distance',function(){
        var totalSum = 0;
        $('.form-group .distance').each(function(){
            var inputVal = $(this).val();
            if($.isNumeric(inputVal)){
              totalSum += parseFloat(inputVal);
            }
        });
        $('#val').text(totalSum + '\xa0m');
    });

    $('#rep1val').text('0\xa0m');
    $('.form-group').on('input','.rep1',function(){
        var rep1mul = 0;
        $('.form-group .rep1').each(function(){
          var mul = $(this).val();
          if($.isNumeric(mul)){
            rep1mul += parseFloat(mul);
          }
      });
      $('#rep1val').text(rep1mul + '\xa0m');
    });

    $('#rep2val').text('0\xa0m');
    $('.form-group').on('input','.rep2',function(){
        var rep2mul = 0;
          $('.form-group .rep2').each(function(){
          var mul2 = $(this).val();
          if($.isNumeric(mul2)){
            rep2mul += parseFloat(mul2);
          }
      });
      $('#rep2val').text(rep2mul + '\xa0m');
    });
  </script>

  <!--Top to Page Button-->
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
      } else {
        document.getElementById("myBtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script>

  <!--Funktionalität Tabelle-->
  <script>
    const $tableID = $('#table');
    const $BTN = $('#export-btn');
    const $EXPORT = $('#export');

    const newTr = `
   <tr class="hide">
    <td>
     <div class="form-group">
        <input type="text" class="form-control rep1" value="1" style="float: left; width: 44%;">
        <p style="float: left; margin: 2%;">x</p>
        <input type="text" class="form-control rep2" style="float: left; width: 44%;">
      </div>
    </td>
    <td>
        <div class="form-group">
          <input type="text" class="form-control distance">
        </div>
    </td>
    <td>
      <div class="form-group" style="float: left; width: 55%;">
        <select class="form-control" >
          <option value="none">None</option>
          <option value="time">Time</option>
          <option value="repetition">Repetiton</option>
        </select>
      </div>
       <input type="text" class="form-control" placeholder="min:sec" style="float: left;width: 39%; margin-left: 2%;">
    </td>
      <td>
        <div class="form-group">
          <select class="form-control">
            <option value="freestyle">Freestyle</option>
            <option value="back">Backstroke</option>
            <option value="breast">Breaststroke</option>
            <option value="butterfly">Butterfly style</option>
            <option value="free">Free</option>
            <option value="mixed">Mixed</option>
            <option value="training">Training stroke</option>
          </select>
        </div>

    </td>
      <td>
        <textarea class="form-control" rows="1" style="min-height: 53px;"></textarea>
    </td>
      <td>
        <div class="form-group">
          <select class="form-control">
            <option value="mixed">None</option>
            <option value="freestyle">Fins</option>
            <option value="back">Kickboard</option>
            <option value="breast">Paddles</option>
            <option value="butterfly">Pull Bouy</option>
            <option value="free">Snorkel</option>
          </select>
        </div>
    </td>
    <td>
        <input type="text" class="form-control">
    </td>
     <td>
      <span class="table-remove"><button type="button"
          class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
    </td>
  </tr>`;

    $('.table-add').on('click', 'i', () => {

      const $clone = $tableID.find('tbody tr').last().clone(true).removeClass('hide table-line');

      if ($tableID.find('tbody tr').length === 0) {

        $('tbody').append(newTr);
      }

      $tableID.find('table').append($clone);
    });

    $tableID.on('click', '.table-remove', function () {

      $(this).parents('tr').detach();
    });

    $tableID.on('click', '.table-up', function () {

      const $row = $(this).parents('tr');

      if ($row.index() === 1) {
        return;
      }

      $row.prev().before($row.get(0));
    });

    $tableID.on('click', '.table-down', function () {

      const $row = $(this).parents('tr');
      $row.next().after($row.get(0));
    });

    // A few jQuery helpers for exporting only
    jQuery.fn.pop = [].pop;
    jQuery.fn.shift = [].shift;

    $BTN.on('click', () => {

      const $rows = $tableID.find('tr:not(:hidden)');
      const headers = [];
      const data = [];

      // Get the headers (add special header logic here)
      $($rows.shift()).find('th:not(:empty)').each(function () {

        headers.push($(this).text().toLowerCase());
      });

      // Turn all existing rows into a loopable array
      $rows.each(function () {
        const $td = $(this).find('td');
        const h = {};

        // Use the headers from earlier to name our hash keys
        headers.forEach((header, i) => {

          h[header] = $td.eq(i).text();
        });

        data.push(h);
      });

      // Output the result
      $EXPORT.text(JSON.stringify(data));
    });
  </script>